<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github02" value="https://nuget.pkg.github.com/eduarddanziger/index.json" />
    </packageSources>
<!--
    <packageSourceCredentials>
		<github02>
            <add key="Username" value="ed-anz" />
            <add key="ClearTextPassword" value="" />
        </github02>
    </packageSourceCredentials>
-->
</configuration>